*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.App{
    padding: 1.5rem;
    /* background-color: aqua; */
}
.movies{
    display: flex;
    flex-wrap: wrap;
}
.searchNav{
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}
.title{
    padding-right: 3rem;
}